<ion-header  style="background-color:#3b5598;">
  <ion-grid style="margin-left: 10px">  
      <ion-row>
        <ion-col>  
            <ion-button color="none">
            <ion-icon style="font-size: 14px" color="light"  name="newspaper-outline" ></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color="none">
            <ion-icon style="font-size: 14px" color="light"  name="people-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>  
          <ion-button color="none">
          <ion-icon style="font-size: 14px" color="light"  name="chatbubble-ellipses-outline"></ion-icon>
          </ion-button>
        </ion-col>
        
        <ion-col>
          <ion-button color="none">
            <ion-icon style="font-size: 14px" color="light"  name="notifications-outline">     
            </ion-icon>
            </ion-button>
        </ion-col>
        
        <ion-col>
            <ion-button color="none">
            <ion-icon style="font-size: 14px" color="light"  name="search-outline"></ion-icon>
            </ion-button>
          </ion-col> 
      </ion-row>
    </ion-grid>
</ion-header>

<ion-content fullscren>
  <ion-card>
  <ion-list>
    <ion-item>
      <ion-icon name="person-circle-outline">
      </ion-icon>
      <ion-label style="margin:7px">
        <h6 style="margin-top: 10px;font-size: 14px;font-weight: bold">VOXEL</h6>
        <h6 style="font-size: 10px;color:#ccc;">1h</h6>
        <p>[MELHORES DA SEMANA]</p>
  </ion-label>
  </ion-item>

 
  </ion-list>
  </ion-card>
</ion-content>