<ion-header  style="background-color:#3b5598;">
  <ion-grid style="margin-left:17px">  
      <ion-row>
        <ion-col>  
            <ion-button color="none">
            <ion-icon color="light" name="newspaper-outline" ></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col>  
          <ion-button color="none">
          <ion-icon color="light" name="chatbubble-ellipses-outline"></ion-icon>
          </ion-button>
        </ion-col>
        
        <ion-col>
          <ion-button color="none">
            <ion-icon color="light" name="notifications-outline">     
            </ion-icon>
            </ion-button>
        </ion-col>
        
        <ion-col>
            <ion-button color="none">
              <ion-icon  color="light" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>  
      </ion-row>
    </ion-grid>
</ion-header>
